@page "/"

<div>
    <h3>Movies</h3>
    <MoviesLists Movies="movies">
        <NullTemplate>
            <span style="color:blue">This is loading ...</span>
            <img src="/images/giphy.gif" />
        </NullTemplate>
        <EmptyTemplate>
            <span style="color:red">No Records to see...</span>
        </EmptyTemplate>

    </MoviesLists>
    @*<MoviesLists Movies="movies" />*@
</div>





@code{
    private List<Movie> movies;

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(5000);

        movies = new List<Movie>()
    {

        };
    }

}